# Import Libraries and read data

In [15]:
import ujson as json
import pandas as pd

data_file = 'data/new.json'
records = map(json.loads, open(data_file))
df = pd.DataFrame.from_records(records)

# Data Preprocessing

In [16]:
neighbor_nodes = []
for col1, row in zip(df["node_id"], df["node"]):
    for d in row:
        for k, v in d.items():
            neighbor_nodes.append({"node_id": col1, "neighbor_nodes": k, "direction": v})
df_1 = pd.DataFrame(neighbor_nodes)

In [17]:
transaction_time = []
transaction_list = []
for col1, col2 in zip(df["transaction_val"], df["transaction_time"]):
    for c1 in col1:
        transaction_list.append(c1)
    for c2 in col2:
        transaction_time.append(c2)
df_1["transaction_val"] = transaction_list
df_1["transaction_time"] = transaction_time

df["FA_1_case_1"] = df["labels"].apply(lambda x: x["FA_1_case_1"])
df["FA_1_case_2"] = df["labels"].apply(lambda x: x["FA_1_case_2"]) 

df_final = pd.merge(df_1, df[["node_id","FA_1_case_1", "FA_1_case_2"]], on="node_id", how="left")

In [18]:
def convert_value(self, unit: str, factor: float) -> None:
    if unit == "EU":
        return factor * 1119.5
    elif unit == "USD":
        return factor * 1182.42
    pass

df_final["transaction_val"] = df_final["transaction_val"] * 1182.42

In [19]:
# filter out every transation that is over 10000
df_final = df_final[df_final["transaction_val"] < 10000]

# filter out single transation
tmp = (df_final.groupby(["node_id","direction"]).count() == 1).neighbor_nodes.reset_index().rename(columns={"neighbor_nodes":"single_trans"})
tmp = tmp.loc[tmp.single_trans == False].drop(["single_trans"], axis=1)

# create the df_mask dataframe
# mask_1_case_1 checks if it's a "out" relation 
# mask_1_case_2 checks if it's a "in" relation

df_mask = pd.merge(tmp,df_final, on = ["node_id","direction"], how="left")
df_mask["mask_1_case_1"] = df_mask["direction"].apply(lambda x: True if x == "out" else False)
df_mask["mask_1_case_2"] = df_mask["direction"].apply(lambda x: True if x == "in" else False)

# filter out all nodes, which has total transaction amount < 10000 

tmp_2 = df_mask.groupby(["node_id","direction"]).sum().transaction_val.reset_index()
tmp_2["threshold_tot_trans_val"] = tmp_2["transaction_val"] > 10000
df_mask = pd.merge(df_mask, tmp_2.drop(["transaction_val"],axis=1), on = ["node_id","direction"], how="left")

df_mask["mask_2_case_1"] = df_mask["mask_1_case_1"] & df_mask["threshold_tot_trans_val"]
df_mask["mask_2_case_2"] = df_mask["mask_1_case_2"] & df_mask["threshold_tot_trans_val"]

df_mask

,node_id,direction,neighbor_nodes,transaction_val,transaction_time,FA_1_case_1,FA_1_case_2,mask_1_case_1,mask_1_case_2,threshold_tot_trans_val,mask_2_case_1,mask_2_case_2
0,0x00192fb10df37c9fb26829eb2cc623cd1bf599e8,in,0x95a5147bd3979d0947603a662c16c5d2eac40e17,59.171761,1628079892,False,False,False,True,False,False,False
1,0x00192fb10df37c9fb26829eb2cc623cd1bf599e8,in,0x95a5147bd3979d0947603a662c16c5d2eac40e17,59.270662,1626948176,False,False,False,True,False,False,False
2,0x00192fb10df37c9fb26829eb2cc623cd1bf599e8,in,0x95a5147bd3979d0947603a662c16c5d2eac40e17,59.135005,1623277117,False,False,False,True,False,False,False
3,0x00192fb10df37c9fb26829eb2cc623cd1bf599e8,in,0x95a5147bd3979d0947603a662c16c5d2eac40e17,59.486128,1622007064,False,False,False,True,False,False,False
4,0x00192fb10df37c9fb26829eb2cc623cd1bf599e8,in,0x95a5147bd3979d0947603a662c16c5d2eac40e17,59.228870,1621102734,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1471,0xffa500b7b592fb29d1b29ca98b27058a6927a856,in,0x886534f47921c98f1e4254ebfd14df8680a04e4d,431.348526,1613572843,False,False,False,True,False,False,False
1472,0xffa500b7b592fb29d1b29ca98b27058a6927a856,in,0x886534f47921c98f1e4254ebfd14df8680a04e4d,0.495338,1613564473,False,False,False,True,False,False,False
1473,0xffa500b7b592fb29d1b29ca98b27058a6927a856,in,0x886534f47921c98f1e4254ebfd14df8680a04e4d,716.882377,1613449696,False,False,False,True,False,False,False
1474,0xffa500b7b592fb29d1b29ca98b27058a6927a856,in,0x886534f47921c98f1e4254ebfd14df8680a04e4d,835.345306,1613374049,False,False,False,True,False,False,False
1475,0xffa500b7b592fb29d1b29ca98b27058a6927a856,in,0x886534f47921c98f1e4254ebfd14df8680a04e4d,1726.404171,1610987434,False,False,False,True,False,False,False

# FA1 detection functions

In [20]:
def thresholds_FA1_time_jump(df_node, start_index):
    node_flag = False
    end_index = df_node.shape[0]
    time_window_start = df_node['transaction_time'].values[start_index]
    time_window_end =  time_window_start + 172801
    index_latest_trx = df_node['transaction_time'].searchsorted(time_window_end, side = 'left') - 1
    trx_sum = df_node['transaction_val'].iloc[start_index:index_latest_trx + 1].sum()
    # amount threshold
    if trx_sum >= 10000:
        node_flag = True
        return node_flag
    # early-stopping
    elif (index_latest_trx == end_index):
        return node_flag
    else:
        # check for duplicated timestamp to avoid unnecessary looping 
        duplicated_ts = df_node[df_node['transaction_time'] == time_window_start]
        start_index = start_index + len(duplicated_ts)
        if start_index == end_index:
            node_flag = False
        else:
            node_flag = thresholds_FA1_time_jump(df_node, start_index)
    return node_flag

In [21]:
def flagger_FA1_time_jump(df_candidates):
    start_index = 0
    node_flags = {}
    #loop over all candidates
    for node in df_candidates['node_id'].unique().tolist():
        df_node = df_candidates[df_candidates['node_id'] == node].sort_values(by='transaction_time').reset_index(drop=True)
        node_flag = thresholds_FA1_time_jump(df_node, start_index)
        node_flags[node] = node_flag
    return node_flags

# Apply functions on data

In [22]:
case1_candidates = df_mask[df_mask['mask_2_case_1'] == True]
case2_candidates = df_mask[df_mask['mask_2_case_2'] == True]

In [23]:
case1_candidates

,node_id,direction,neighbor_nodes,transaction_val,transaction_time,FA_1_case_1,FA_1_case_2,mask_1_case_1,mask_1_case_2,threshold_tot_trans_val,mask_2_case_1,mask_2_case_2
119,0x20f78bbef7153afd365d696ad86ca57fa1c73aa9,out,0x491f32d87d91ab7f08090e7686ef6591c3b8a48f,591.210000,1630020058,False,False,True,False,True,True,False
120,0x20f78bbef7153afd365d696ad86ca57fa1c73aa9,out,0xe6b5d1b388bd15f849301999016fab0c67e83af6,212.623672,1628876734,False,False,True,False,True,True,False
121,0x20f78bbef7153afd365d696ad86ca57fa1c73aa9,out,0xdf832d6905f69880daa615fd8a632167f595c60e,591.210000,1628876266,False,False,True,False,True,True,False
122,0x20f78bbef7153afd365d696ad86ca57fa1c73aa9,out,0x4ad64983349c49defe8d7a4686202d24b25d0ce8,637.544263,1628876120,False,False,True,False,True,True,False
123,0x20f78bbef7153afd365d696ad86ca57fa1c73aa9,out,0x4ad64983349c49defe8d7a4686202d24b25d0ce8,503.746369,1628872877,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1413,0xf837d6f3175f9df73772fba356f31479e67c1735,out,0xae4c57e1f480ee6cee4612aba39021550e637571,126.113388,1631822098,False,False,True,False,True,True,False
1414,0xf837d6f3175f9df73772fba356f31479e67c1735,out,0xe341ab6ac136c5e531406cfdd2c8cdefb2ae8bbb,103.001736,1631822098,False,False,True,False,True,True,False
1415,0xf837d6f3175f9df73772fba356f31479e67c1735,out,0x65dd984ff5fc038b509a6805a51c0656d2aabdd2,787.324875,1631822098,False,False,True,False,True,True,False
1416,0xf837d6f3175f9df73772fba356f31479e67c1735,out,0x1940b01b5119ddf400259997ab1e03e141a0b128,355.343199,1631822012,False,False,True,False,True,True,False
1417,0xf837d6f3175f9df73772fba356f31479e67c1735,out,0x3fba3c956564239f384bd47c70cf383c1fa9bbe7,9.485349,1631822012,False,False,True,False,True,True,False

In [24]:
case1_flags = flagger_FA1_time_jump(case1_candidates)
case2_flags = flagger_FA1_time_jump(case2_candidates)

In [25]:
case1_flags

{'0x20f78bbef7153afd365d696ad86ca57fa1c73aa9': False,
 '0x4740fa6b32c5b41ebbf631fe1af41e6fff6e2388': False,
 '0x6390fd17e63e1362d3a9f18eac3b2acf576deb19': True,
 '0x886534f47921c98f1e4254ebfd14df8680a04e4d': False,
 '0x8fac7eb5a860e489ba015b7039c7e404fc192aed': True,
 '0xb779e70f34c5fcf56d3b3864e095e1add3b55b36': False,
 '0xd561de53e344a945e0a7a96da27bdbe627ed8e03': False,
 '0xf837d6f3175f9df73772fba356f31479e67c1735': True}

In [26]:
case2_flags

{'0x28c6c06298d514db089934071355e5743bf21d60': False,
 '0xfa52274dd61e1643d2205169732f29114bc240b3': False}

In [27]:
dummy_flags = [False] * df_final.shape[0]
df_final['Case1_Flag'] = dummy_flags
df_final['Case2_Flag'] = dummy_flags
for node in df_final['node_id']:
    #mask = (int(df_final['node_id']) == node)
    #print(node)
    if node in case1_flags:
        df_final.loc[(df_final['node_id'] == node, 'Case1_Flag')] = case1_flags[node]
    if node in case2_flags:
        df_final.loc[(df_final['node_id'] == node, 'Case2_Flag')] = case2_flags[node]

In [28]:
# Do we have to filter out transaction_val == 0.00

# Testing

## FA1_Case1: 
### - "0x20f78bbef7153afd365d696ad86ca57fa1c73aa9": False, amount threshold does not fulfill
### - "0x4740fa6b32c5b41ebbf631fe1af41e6fff6e2388": False, amount threshold does not fulfill
### - '0x6390fd17e63e1362d3a9f18eac3b2acf576deb19': True, amount and time threshold fulfill at index 2
### - '0x886534f47921c98f1e4254ebfd14df8680a04e4d': False, amount does not fulfill 
### - '0x8fac7eb5a860e489ba015b7039c7e404fc192aed': True, amount and time threshold fulfill at index 3
### - '0xb779e70f34c5fcf56d3b3864e095e1add3b55b36': False, amount does not fulfill
### - '0xd561de53e344a945e0a7a96da27bdbe627ed8e03': False, amount does not fulfill
### - '0xf837d6f3175f9df73772fba356f31479e67c1735': True, amount and time threshold fulfill at index 0 -> only case with duplicated timestamp

## FA1_Case2:
### - '0x28c6c06298d514db089934071355e5743bf21d60': False, amount does not fulfill
### - '0xfa52274dd61e1643d2205169732f29114bc240b3': False, amount does not fulfill

In [29]:
def thresholds_FA1_time_jump(df_node, start_index):
    node_flag = False
    end_index = df_node.shape[0]
    time_window_start = df_node['transaction_time'].values[start_index]
    print("____________________________start_index: ", start_index)
    time_window_end =  time_window_start + 172801
    index_latest_trx = df_node['transaction_time'].searchsorted(time_window_end, side = 'left') - 1
    #print("index_latest_trx: ", index_latest_trx )
    print(df_node['transaction_val'].iloc[start_index:index_latest_trx + 1])
    df_48_hours = df_node['transaction_val'].iloc[start_index:index_latest_trx + 1]
    trx_sum = df_48_hours.sum()
    print("total_amount: ", trx_sum)
    if trx_sum >= 10000:
        print("flag: true")
        node_flag = True
        return node_flag
    # early-stopping 
    elif index_latest_trx == end_index:
        print("early-stopping")
        return node_flag
    else:
        print("continue...")
        duplicated_ts = df_node[df_node['transaction_time'] == time_window_start]
        start_index = start_index + len(duplicated_ts) 
        #len(df_48_hours) - 1
        #len(duplicated_ts)
        if start_index == end_index:
            node_flag = False
        else:
            node_flag = thresholds_FA1_time_jump(df_node, start_index)
    return node_flag

# Case 1

### Node_id == "0x20f78bbef7153afd365d696ad86ca57fa1c73aa9"

In [30]:
 df_test = df_final[df_final["node_id"] == "0x20f78bbef7153afd365d696ad86ca57fa1c73aa9"]
 df_test = df_test.sort_values(["transaction_time"])

In [31]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
1371    34.803849
1370    59.029256
Name: transaction_val, dtype: float64
total_amount:  93.83310490657576
continue...
____________________________start_index:  1
1370    59.029256
Name: transaction_val, dtype: float64
total_amount:  59.0292560322
continue...
____________________________start_index:  2
1392    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  3
1391    2364.84
Name: transaction_val, dtype: float64
total_amount:  2364.84
continue...
____________________________start_index:  4
1390    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  5
1369    2622.139886
Name: transaction_val, dtype: float64
total_amount:  2622.1398862560145
continue...
____________________________start_index:  6
1389    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  7
1388    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  8
1387    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  9
1386    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  10
1385    1182.4200
1384     673.9794
Name: transaction_val, dtype: float64
total_amount:  1856.3994
continue...
____________________________start_index:  11
1384    673.9794
1383      0.0000
Name: transaction_val, dtype: float64
total_amount:  673.9793999999999
continue...
____________________________start_index:  12
1383    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  13
1382    2956.050000
1368    2584.890798
Name: transaction_val, dtype: float64
total_amount:  5540.940797785201
continue...
____________________________start_index:  14
1368    2584.890798
Name: transaction_val, dtype: float64
total_amount:  2584.8907977852004
continue...
____________________________start_index:  15
1381    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  16
1380       0.00
1379    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  17
1379    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  18
1378     941.797530
1377    1182.420000
1367     503.746369
Name: transaction_val, dtype: float64
total_amount:  2627.9638989515997
continue...
____________________________start_index:  19
1377    1182.420000
1367     503.746369
1366     637.544263
1365     591.210000
1364     212.623672
Name: transaction_val, dtype: float64
total_amount:  3127.544303771928
continue...
____________________________start_index:  20
1367    503.746369
1366    637.544263
1365    591.210000
1364    212.623672
Name: transaction_val, dtype: float64
total_amount:  1945.1243037719273
continue...
____________________________start_index:  21
1366    637.544263
1365    591.210000
1364    212.623672
Name: transaction_val, dtype: float64
total_amount:  1441.3779348203273
continue...
____________________________start_index:  22
1365    591.210000
1364    212.623672
Name: transaction_val, dtype: float64
total_amount:  803.8336719971273
continue...
____________________________start_index:  23
1364    212.623672
Name: transaction_val, dtype: float64
total_amount:  212.62367199712733
continue...
____________________________start_index:  24
1376    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  25
1375    945.936
1374    591.210
1363    591.210
Name: transaction_val, dtype: float64
total_amount:  2128.356
continue...
____________________________start_index:  26
1374    591.21
1363    591.21
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  27
1363    591.21
Name: transaction_val, dtype: float64
total_amount:  591.21
continue...
____________________________start_index:  28
1373    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  29
1372    354.726
Name: transaction_val, dtype: float64
total_amount:  354.726
continue...

False

### Node_id == "0x4740fa6b32c5b41ebbf631fe1af41e6fff6e2388"

In [32]:
 df_test = df_final[df_final["node_id"] == "0x4740fa6b32c5b41ebbf631fe1af41e6fff6e2388"]
 df_test = df_test.sort_values(["transaction_time"])

In [33]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
484    7737.057043
Name: transaction_val, dtype: float64
total_amount:  7737.0570430974
continue...
____________________________start_index:  1
481    1917.322195
Name: transaction_val, dtype: float64
total_amount:  1917.3221952444
continue...
____________________________start_index:  2
477    1175.219062
Name: transaction_val, dtype: float64
total_amount:  1175.2190622
continue...
____________________________start_index:  3
474    2725.4781
473    4729.6800
Name: transaction_val, dtype: float64
total_amount:  7455.158100000001
continue...
____________________________start_index:  4
473    4729.68
Name: transaction_val, dtype: float64
total_amount:  4729.68
continue...
____________________________start_index:  5
446    8045.435041
Name: transaction_val, dtype: float64
total_amount:  8045.435040553801
continue...
____________________________start_index:  6
696    0.0
700    0.0
699    0.0
698    0.0
702    0.0
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  7
700    0.0
699    0.0
698    0.0
702    0.0
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  8
699    0.0
698    0.0
702    0.0
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  9
698    0.0
702    0.0
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  10
702    0.0
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  11
701    0.0
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  12
697    0.0
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  13
694    0.0
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  14
693    0.0
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  15
692    0.0
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  16
690    0.0
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  17
689    0.0
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  18
688    0.0
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  19
687    0.0
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  20
686    0.0
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  21
685    0.0
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  22
684    0.0
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  23
683    0.0
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  24
682    0.0
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  25
681    0.0
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  26
673    0.0
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  27
680    0.0
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  28
679    0.0
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  29
678    0.0
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  30
677    0.0
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  31
676    0.0
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  32
675    0.0
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  33
674    0.0
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  34
672    0.0
671    0.0
670    0.0
669    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  35
671    0.0
670    0.0
669    0.0
668    0.0
666    0.0
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  36
670    0.0
669    0.0
668    0.0
666    0.0
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  37
669    0.0
668    0.0
666    0.0
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  38
668    0.0
666    0.0
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  39
666    0.0
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  40
665    0.0
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  41
664    0.0
663    0.0
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  42
663    0.0
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  43
662    0.0
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  44
661    0.0
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  45
660    0.0
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
648    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  46
658    0.0
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  47
657    0.0
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  48
656    0.0
654    0.0
653    0.0
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  49
654    0.0
653    0.0
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  50
653    0.0
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  51
652    0.0
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  52
651    0.0
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  53
648    0.0
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  54
644    0.0
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  55
642    0.0
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  56
649    0.0
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  57
647    0.0
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  58
646    0.0
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  59
645    0.0
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  60
640    0.0
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  61
639    0.0
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  62
637    0.0
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  63
636    0.0
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  64
635    0.0
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  65
634    0.0
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  66
633    0.0
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  67
632    0.0
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
619    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  68
631    0.0
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
619    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  69
629    0.0
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0
619    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  70
627    0.0
630    0.0
626    0.0
624    0.0
623    0.0
622    0.0
621    0.0

False

### Node_id == "0x6390fd17e63e1362d3a9f18eac3b2acf576deb19"

In [34]:
 df_test = df_final[df_final["node_id"] == "0x6390fd17e63e1362d3a9f18eac3b2acf576deb19"]
 df_test = df_test.sort_values(["transaction_time"])

In [35]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
195    184.089175
242    182.579296
Name: transaction_val, dtype: float64
total_amount:  366.6684706618608
continue...
____________________________start_index:  1
242    182.579296
Name: transaction_val, dtype: float64
total_amount:  182.5792957754208
continue...
____________________________start_index:  2
194    9459.360000
241    9434.741253
193     238.982028
240     220.138628
192     146.530126
239     144.037848
Name: transaction_val, dtype: float64
total_amount:  19643.789883008678
flag: true

True

### Node_id == "0x886534f47921c98f1e4254ebfd14df8680a04e4d"

In [36]:
df_test = df_final[df_final["node_id"] == "0x886534f47921c98f1e4254ebfd14df8680a04e4d"]
df_test = df_test.sort_values(["transaction_time"])

In [37]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
339    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  1
338      0.000000
323    223.685178
324     12.092716
Name: transaction_val, dtype: float64
total_amount:  235.7778942486
continue...
____________________________start_index:  2
323    223.685178
324     12.092716
Name: transaction_val, dtype: float64
total_amount:  235.7778942486
continue...
____________________________start_index:  3
324    12.092716
Name: transaction_val, dtype: float64
total_amount:  12.0927157578
continue...
____________________________start_index:  4
337    0.0
336    0.0
335    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  5
336    0.0
335    0.0
334    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  6
335    0.0
334    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  7
334    0.0
333    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  8
333    0.0
332    0.0
331    0.0
330    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  9
332       0.000000
331       0.000000
330       0.000000
322    1726.404171
329    1922.988629
Name: transaction_val, dtype: float64
total_amount:  3649.3928002236216
continue...
____________________________start_index:  10
331       0.000000
330       0.000000
322    1726.404171
329    1922.988629
Name: transaction_val, dtype: float64
total_amount:  3649.3928002236216
continue...
____________________________start_index:  11
330       0.000000
322    1726.404171
329    1922.988629
Name: transaction_val, dtype: float64
total_amount:  3649.3928002236216
continue...
____________________________start_index:  12
322    1726.404171
329    1922.988629
Name: transaction_val, dtype: float64
total_amount:  3649.3928002236216
continue...
____________________________start_index:  13
329    1922.988629
Name: transaction_val, dtype: float64
total_amount:  1922.9886293817408
continue...
____________________________start_index:  14
321     835.345306
320     716.882377
328    1540.021561
Name: transaction_val, dtype: float64
total_amount:  3092.249243623997
continue...
____________________________start_index:  15
320     716.882377
328    1540.021561
319       0.495338
318     431.348526
Name: transaction_val, dtype: float64
total_amount:  2688.7478022614396
continue...
____________________________start_index:  16
328    1540.021561
319       0.495338
318     431.348526
Name: transaction_val, dtype: float64
total_amount:  1971.8654252347708
continue...
____________________________start_index:  17
319      0.495338
318    431.348526
Name: transaction_val, dtype: float64
total_amount:  431.84386425277256
continue...
____________________________start_index:  18
318    431.348526
Name: transaction_val, dtype: float64
total_amount:  431.3485262376333
continue...
____________________________start_index:  19
327    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  20
326      0.000000
317    195.090532
Name: transaction_val, dtype: float64
total_amount:  195.09053215715488
continue...
____________________________start_index:  21
317    195.090532
Name: transaction_val, dtype: float64
total_amount:  195.09053215715488
continue...
____________________________start_index:  22
316     936.356727
325    1544.523234
Name: transaction_val, dtype: float64
total_amount:  2480.8799600937077
continue...
____________________________start_index:  23
325    1544.523234
Name: transaction_val, dtype: float64
total_amount:  1544.5232335906276
continue...

False

### Node_id == "0x8fac7eb5a860e489ba015b7039c7e404fc192aed"

In [38]:
df_test = df_final[df_final["node_id"] == "0x8fac7eb5a860e489ba015b7039c7e404fc192aed"]
df_test = df_test.sort_values(["transaction_time"])

In [39]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
1792    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  1
1791    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  2
1790    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  3
1789       0.000000
1785    5084.406000
1788    5090.828599
Name: transaction_val, dtype: float64
total_amount:  10175.23459919322
flag: true

True

### Node_id == "0xb779e70f34c5fcf56d3b3864e095e1add3b55b36"

In [40]:
df_test = df_final[df_final["node_id"] == "0xb779e70f34c5fcf56d3b3864e095e1add3b55b36"]
df_test = df_test.sort_values(["transaction_time"])

In [41]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
725    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  1
726       0.003902
723    7094.520000
722       0.000000
721       0.000000
720       0.000000
Name: transaction_val, dtype: float64
total_amount:  7094.523901986
continue...
____________________________start_index:  2
723    7094.52
722       0.00
721       0.00
720       0.00
Name: transaction_val, dtype: float64
total_amount:  7094.52
continue...
____________________________start_index:  3
722    0.0
721    0.0
720    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  4
721    0.0
720    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  5
720    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  6
718    0.0
719    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  7
719    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  8
714    1182.42
717    1182.42
Name: transaction_val, dtype: float64
total_amount:  2364.84
continue...
____________________________start_index:  9
717    1182.42
Name: transaction_val, dtype: float64
total_amount:  1182.42
continue...
____________________________start_index:  10
713    5912.1
Name: transaction_val, dtype: float64
total_amount:  5912.1
continue...

False

### Node_id == "0xd561de53e344a945e0a7a96da27bdbe627ed8e03"

In [42]:
df_test = df_final[df_final["node_id"] == "0xd561de53e344a945e0a7a96da27bdbe627ed8e03"]
df_test = df_test.sort_values(["transaction_time"])

In [43]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
107     0.0000
108    17.7363
Name: transaction_val, dtype: float64
total_amount:  17.7363
continue...
____________________________start_index:  1
108    17.7363
Name: transaction_val, dtype: float64
total_amount:  17.7363
continue...
____________________________start_index:  2
106       0.000000
105       0.000000
104       0.000000
103       0.000000
102       0.000000
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  3
105       0.000000
104       0.000000
103       0.000000
102       0.000000
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  4
104       0.000000
103       0.000000
102       0.000000
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  5
103       0.000000
102       0.000000
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  6
102       0.000000
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  7
101       0.000000
25      963.672300
100    1021.487981
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  8
25      963.672300
100    1021.487981
98        0.000000
97        0.000000
99        0.000000
Name: transaction_val, dtype: float64
total_amount:  1985.1602808861117
continue...
____________________________start_index:  9
100    1021.487981
98        0.000000
97        0.000000
99        0.000000
Name: transaction_val, dtype: float64
total_amount:  1021.4879808861117
continue...
____________________________start_index:  10
98    0.0
97    0.0
99    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  11
97    0.0
99    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  12
99    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  13
96    0.0
95    0.0
94    0.0
93    0.0
92    0.0
91    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  14
95    0.0
94    0.0
93    0.0
92    0.0
91    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  15
94    0.0
93    0.0
92    0.0
91    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  16
93      0.000000
92      0.000000
91      0.000000
89      0.000000
90      0.000000
87      0.000000
88      0.000000
86      0.000000
85    861.102923
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  17
92      0.000000
91      0.000000
89      0.000000
90      0.000000
87      0.000000
88      0.000000
86      0.000000
85    861.102923
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  18
91      0.000000
89      0.000000
90      0.000000
87      0.000000
88      0.000000
86      0.000000
85    861.102923
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  19
89      0.000000
90      0.000000
87      0.000000
88      0.000000
86      0.000000
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  20
90      0.000000
87      0.000000
88      0.000000
86      0.000000
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  21
87      0.000000
88      0.000000
86      0.000000
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  22
88      0.000000
86      0.000000
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  23
86      0.000000
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  24
85    861.102923
83      0.000000
84      0.000000
81      0.000000
82      0.000000
Name: transaction_val, dtype: float64
total_amount:  861.1029226476353
continue...
____________________________start_index:  25
83    0.0
84    0.0
81    0.0
82    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  26
84    0.0
81    0.0
82    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  27
81    0.0
82    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  28
82    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  29
78      0.0000
24    348.8139
79      0.0000
77      0.0000
80      0.0000
Name: transaction_val, dtype: float64
total_amount:  348.8139
continue...
____________________________start_index:  30
24    348.8139
79      0.0000
77      0.0000
80      0.0000
Name: transaction_val, dtype: float64
total_amount:  348.8139
continue...
____________________________start_index:  31
79    0.0
77    0.0
80    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  32
77    0.0
80    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  33
80    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  34
76       0.000000
74       0.000000
75       0.000000
73     650.331000
72       0.000000
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1893.8229930000002
continue...
____________________________start_index:  35
74       0.000000
75       0.000000
73     650.331000
72       0.000000
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1893.8229930000002
continue...
____________________________start_index:  36
75       0.000000
73     650.331000
72       0.000000
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1893.8229930000002
continue...
____________________________start_index:  37
73     650.331000
72       0.000000
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1893.8229930000002
continue...
____________________________start_index:  38
72       0.000000
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1243.491993
continue...
____________________________start_index:  39
71    1243.491993
Name: transaction_val, dtype: float64
total_amount:  1243.491993
continue...
____________________________start_index:  40
70       0.0000
69       0.0000
67       0.0000
68       0.0000
66    2961.9621
Name: transaction_val, dtype: float64
total_amount:  2961.9621
continue...
____________________________start_index:  41
69       0.0000
67       0.0000
68       0.0000
66    2961.9621
Name: transaction_val, dtype: float64
total_amount:  2961.9621
continue...
____________________________start_index:  42
67       0.0000
68       0.0000
66    2961.9621
65       0.0000
64       0.0000
Name: transaction_val, dtype: float64
total_amount:  2961.9621
continue...
____________________________start_index:  43
68       0.0000
66    2961.9621
65       0.0000
64       0.0000
Name: transaction_val, dtype: float64
total_amount:  2961.9621
continue...
____________________________start_index:  44
66    2961.9621
65       0.0000
64       0.0000
Name: transaction_val, dtype: float64
total_amount:  2961.9621
continue...
____________________________start_index:  45
65    0.0
64    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  46
64    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  47
63       0.000000
62    2837.808000
23    3403.072442
61    1477.707542
Name: transaction_val, dtype: float64
total_amount:  7718.587983538993
continue...
____________________________start_index:  48
62    2837.808000
23    3403.072442
61    1477.707542
Name: transaction_val, dtype: float64
total_amount:  7718.587983538993
continue...
____________________________start_index:  49
23     3403.072442
61     1477.707542
60     1986.803912
59        0.000000
58        0.000000
57        0.000000
109       0.000000
56        0.000000
Name: transaction_val, dtype: float64
total_amount:  6867.583895650624
continue...
____________________________start_index:  50
61     1477.707542
60     1986.803912
59        0.000000
58        0.000000
57        0.000000
109       0.000000
56        0.000000
Name: transaction_val, dtype: float64
total_amount:  3464.511453929824
continue...
____________________________start_index:  51
60     1986.803912
59        0.000000
58        0.000000
57        0.000000
109       0.000000
56        0.000000
Name: transaction_val, dtype: float64
total_amount:  1986.8039121116306
continue...
____________________________start_index:  52
59     0.0
58     0.0
57     0.0
109    0.0
56     0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  53
58     0.0
57     0.0
109    0.0
56     0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  54
57     0.0
109    0.0
56     0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  55
109    0.0
56     0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  56
56    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  57
55    0.0
54    0.0
53    0.0
52    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  58
54    0.0
53    0.0
52    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  59
53    0.0
52    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  60
52    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  61
51    0.0
50    0.0
49    0.0
48    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  62
50    0.0
49    0.0
48    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  63
49    0.0
48    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  64
48    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  65
47    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  66
46    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  67
44    0.0
43    0.0
42    0.0
41    0.0
45    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  68
43    0.0
42    0.0
41    0.0
45    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  69
42    0.0
41    0.0
45    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  70
41    0.0
45    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  71
45    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  72
40       0.000
39       0.000
38       0.000
37    1537.146
Name: transaction_val, dtype: float64
total_amount:  1537.1460000000002
continue...
____________________________start_index:  73
39       0.000
38       0.000
37    1537.146
Name: transaction_val, dtype: float64
total_amount:  1537.1460000000002
continue...
____________________________start_index:  74
38       0.000
37    1537.146
Name: transaction_val, dtype: float64
total_amount:  1537.1460000000002
continue...
____________________________start_index:  75
37    1537.146
Name: transaction_val, dtype: float64
total_amount:  1537.1460000000002
continue...
____________________________start_index:  76
36    0.0
35    0.0
34    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  77
35    0.0
34    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  78
34    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  79
33    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  80
32    0.0
31    0.0
30    0.0
29    0.0
27    0.0
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  81
31    0.0
30    0.0
29    0.0
27    0.0
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  82
30    0.0
29    0.0
27    0.0
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  83
29    0.0
27    0.0
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  84
27    0.0
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  85
28    0.0
Name: transaction_val, dtype: float64
total_amount:  0.0
continue...
____________________________start_index:  86
26    174.066323
Name: transaction_val, dtype: float64
total_amount:  174.0663227763681
continue...

False

### Node_id == "0xf837d6f3175f9df73772fba356f31479e67c1735"

In [44]:
df_test = df_final[df_final["node_id"] == "0xf837d6f3175f9df73772fba356f31479e67c1735"]
df_test = df_test.sort_values(["transaction_time"])

In [45]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
1625      9.485349
1624    355.343199
1611    694.676290
1612     67.305779
1613    120.541266
           ...
1414    421.465701
1413    104.010378
1412    577.077701
1411    102.785060
1410    104.109701
Name: transaction_val, Length: 216, dtype: float64
total_amount:  68119.79836257313
flag: true

True

# Case 2

### Node_id == "0x28c6c06298d514db089934071355e5743bf21d60"

In [46]:
df_test = df_final[df_final["node_id"] == "0x28c6c06298d514db089934071355e5743bf21d60"]
df_test = df_test.sort_values(["transaction_time"])

In [47]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
1665    3659.49429
Name: transaction_val, dtype: float64
total_amount:  3659.4942895188
continue...
____________________________start_index:  1
1662    1190.384523
1663    5090.828599
Name: transaction_val, dtype: float64
total_amount:  6281.21312254566
continue...
____________________________start_index:  2
1663    5090.828599
Name: transaction_val, dtype: float64
total_amount:  5090.82859919322
continue...
____________________________start_index:  3
1667    1210.157983
Name: transaction_val, dtype: float64
total_amount:  1210.1579825647977
continue...
____________________________start_index:  4
1664    1058.979634
Name: transaction_val, dtype: float64
total_amount:  1058.9796335914998
continue...
____________________________start_index:  5
1666    29.271055
Name: transaction_val, dtype: float64
total_amount:  29.271055408200002
continue...

False

### Node_id == "0xfa52274dd61e1643d2205169732f29114bc240b3"

In [48]:
df_test = df_final[df_final["node_id"] == "0xfa52274dd61e1643d2205169732f29114bc240b3"]
df_test = df_test.sort_values(["transaction_time"])
df_test

,node_id,neighbor_nodes,direction,transaction_val,transaction_time,FA_1_case_1,FA_1_case_2,Case1_Flag,Case2_Flag
1963,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,182.579296,1609573360,False,False,False,False
1962,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,9434.741253,1609746284,False,False,False,False
1961,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,220.138628,1609747924,False,False,False,False
1960,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,144.037848,1609836579,False,False,False,False
1959,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,209.800124,1610006695,False,False,False,False
1958,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,219.287988,1610178729,False,False,False,False
1957,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,175.126111,1610351827,False,False,False,False
1956,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,129.059863,1610445133,False,False,False,False
1955,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,171.008716,1610610292,False,False,False,False
1954,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,180.586202,1610784836,False,False,False,False
1953,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,158.892190,1610956405,False,False,False,False
1952,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,180.430374,1611128759,False,False,False,False
1951,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,196.319649,1611301980,False,False,False,False
1950,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,149.953703,1611474270,False,False,False,False
1949,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,163.582178,1611647438,False,False,False,False
1948,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,158.238326,1611819628,False,False,False,False
1947,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,185.049896,1611993085,False,False,False,False
1946,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,187.349259,1612165396,False,False,False,False
1945,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,203.241252,1612338388,False,False,False,False
1944,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,224.593480,1612512168,False,False,False,False
1943,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,134.097015,1612600126,False,False,False,False
1942,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,189.672935,1612769773,False,False,False,False
1941,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,229.376821,1612942837,False,False,False,False
1940,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,201.873817,1613115845,False,False,False,False
1939,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,194.976385,1613289862,False,False,False,False
1938,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,185.027530,1613462589,False,False,False,False
1937,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,189.335145,1613634461,False,False,False,False
1936,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,195.383355,1613806480,False,False,False,False
1935,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,182.193711,1613979499,False,False,False,False
1934,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,118.600064,1614074407,False,False,False,False
1933,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,125.213463,1614156064,False,False,False,False
1932,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,197.263147,1614325139,False,False,False,False
1931,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,160.934650,1614500015,False,False,False,False
1930,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,157.424433,1614672206,False,False,False,False
1929,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,155.821181,1614843995,False,False,False,False
1928,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,152.319787,1615019386,False,False,False,False
1927,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,151.240576,1615190693,False,False,False,False
1926,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,156.785805,1615362109,False,False,False,False
1925,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,154.999778,1615535793,False,False,False,False
1924,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,169.718754,1615708259,False,False,False,False
1923,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,161.233590,1615881445,False,False,False,False
1922,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,175.005160,1616053747,False,False,False,False
1921,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,164.553813,1616226692,False,False,False,False
1920,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,144.214983,1616399983,False,False,False,False
1919,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,166.320711,1616572030,False,False,False,False
1918,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,149.836415,1616745381,False,False,False,False
1917,0xfa52274dd61e1643d2205169732f29114bc240b3,0x6390fd17e63e1362d3a9f18eac3b2acf576deb19,in,140.296756,1616917464,False,False,False,False

In [49]:
thresholds_FA1_time_jump(df_test, 0)

____________________________start_index:  0
1963    182.579296
Name: transaction_val, dtype: float64
total_amount:  182.5792957754208
continue...
____________________________start_index:  1
1962    9434.741253
1961     220.138628
1960     144.037848
Name: transaction_val, dtype: float64
total_amount:  9798.917729003795
continue...
____________________________start_index:  2
1961    220.138628
1960    144.037848
Name: transaction_val, dtype: float64
total_amount:  364.17647588733
continue...
____________________________start_index:  3
1960    144.037848
1959    209.800124
Name: transaction_val, dtype: float64
total_amount:  353.83797227895036
continue...
____________________________start_index:  4
1959    209.800124
1958    219.287988
Name: transaction_val, dtype: float64
total_amount:  429.0881119247962
continue...
____________________________start_index:  5
1958    219.287988
Name: transaction_val, dtype: float64
total_amount:  219.28798759037582
continue...
____________________________start_index:  6
1957    175.126111
1956    129.059863
Name: transaction_val, dtype: float64
total_amount:  304.18597476465885
continue...
____________________________start_index:  7
1956    129.059863
1955    171.008716
Name: transaction_val, dtype: float64
total_amount:  300.06857967332394
continue...
____________________________start_index:  8
1955    171.008716
Name: transaction_val, dtype: float64
total_amount:  171.00871628105162
continue...
____________________________start_index:  9
1954    180.586202
1953    158.892190
Name: transaction_val, dtype: float64
total_amount:  339.478391697985
continue...
____________________________start_index:  10
1953    158.892190
1952    180.430374
Name: transaction_val, dtype: float64
total_amount:  339.32256449926865
continue...
____________________________start_index:  11
1952    180.430374
Name: transaction_val, dtype: float64
total_amount:  180.430374488274
continue...
____________________________start_index:  12
1951    196.319649
1950    149.953703
Name: transaction_val, dtype: float64
total_amount:  346.27335221063703
continue...
____________________________start_index:  13
1950    149.953703
Name: transaction_val, dtype: float64
total_amount:  149.95370301484502
continue...
____________________________start_index:  14
1949    163.582178
1948    158.238326
Name: transaction_val, dtype: float64
total_amount:  321.82050458783704
continue...
____________________________start_index:  15
1948    158.238326
Name: transaction_val, dtype: float64
total_amount:  158.23832649824703
continue...
____________________________start_index:  16
1947    185.049896
1946    187.349259
Name: transaction_val, dtype: float64
total_amount:  372.399154929135
continue...
____________________________start_index:  17
1946    187.349259
Name: transaction_val, dtype: float64
total_amount:  187.349258649168
continue...
____________________________start_index:  18
1945    203.241252
Name: transaction_val, dtype: float64
total_amount:  203.24125174026602
continue...
____________________________start_index:  19
1944    224.593480
1943    134.097015
Name: transaction_val, dtype: float64
total_amount:  358.690494388007
continue...
____________________________start_index:  20
1943    134.097015
1942    189.672935
Name: transaction_val, dtype: float64
total_amount:  323.7699502878644
continue...
____________________________start_index:  21
1942    189.672935
Name: transaction_val, dtype: float64
total_amount:  189.6729354400824
continue...
____________________________start_index:  22
1941    229.376821
Name: transaction_val, dtype: float64
total_amount:  229.37682051190757
continue...
____________________________start_index:  23
1940    201.873817
Name: transaction_val, dtype: float64
total_amount:  201.873817359567
continue...
____________________________start_index:  24
1939    194.976385
1938    185.027530
Name: transaction_val, dtype: float64
total_amount:  380.0039154576575
continue...
____________________________start_index:  25
1938    185.027530
1937    189.335145
Name: transaction_val, dtype: float64
total_amount:  374.36267540846643
continue...
____________________________start_index:  26
1937    189.335145
1936    195.383355
Name: transaction_val, dtype: float64
total_amount:  384.71850066843524
continue...
____________________________start_index:  27
1936    195.383355
Name: transaction_val, dtype: float64
total_amount:  195.38335528674025
continue...
____________________________start_index:  28
1935    182.193711
1934    118.600064
Name: transaction_val, dtype: float64
total_amount:  300.7937757248397
continue...
____________________________start_index:  29
1934    118.600064
1933    125.213463
Name: transaction_val, dtype: float64
total_amount:  243.81352742546494
continue...
____________________________start_index:  30
1933    125.213463
1932    197.263147
Name: transaction_val, dtype: float64
total_amount:  322.47661011327006
continue...
____________________________start_index:  31
1932    197.263147
Name: transaction_val, dtype: float64
total_amount:  197.26314692751004
continue...
____________________________start_index:  32
1931    160.934650
1930    157.424433
Name: transaction_val, dtype: float64
total_amount:  318.3590828234712
continue...
____________________________start_index:  33
1930    157.424433
1929    155.821181
Name: transaction_val, dtype: float64
total_amount:  313.24561382277454
continue...
____________________________start_index:  34
1929    155.821181
Name: transaction_val, dtype: float64
total_amount:  155.82118093365486
continue...
____________________________start_index:  35
1928    152.319787
1927    151.240576
Name: transaction_val, dtype: float64
total_amount:  303.5603629910712
continue...
____________________________start_index:  36
1927    151.240576
1926    156.785805
Name: transaction_val, dtype: float64
total_amount:  308.02638085488576
continue...
____________________________start_index:  37
1926    156.785805
Name: transaction_val, dtype: float64
total_amount:  156.78580482681835
continue...
____________________________start_index:  38
1925    154.999778
1924    169.718754
Name: transaction_val, dtype: float64
total_amount:  324.7185325479037
continue...
____________________________start_index:  39
1924    169.718754
Name: transaction_val, dtype: float64
total_amount:  169.7187544974304
continue...
____________________________start_index:  40
1923    161.23359
1922    175.00516
Name: transaction_val, dtype: float64
total_amount:  336.23875037889
continue...
____________________________start_index:  41
1922    175.00516
Name: transaction_val, dtype: float64
total_amount:  175.00516022200503
continue...
____________________________start_index:  42
1921    164.553813
Name: transaction_val, dtype: float64
total_amount:  164.55381304235402
continue...
____________________________start_index:  43
1920    144.214983
1919    166.320711
Name: transaction_val, dtype: float64
total_amount:  310.535693789796
continue...
____________________________start_index:  44
1919    166.320711
Name: transaction_val, dtype: float64
total_amount:  166.320710993205
continue...
____________________________start_index:  45
1918    149.836415
1917    140.296756
Name: transaction_val, dtype: float64
total_amount:  290.1331712636236
continue...
____________________________start_index:  46
1917    140.296756
Name: transaction_val, dtype: float64
total_amount:  140.29675588372618
continue...

False